body {
    background-color: white;
}

img {
    border-radius: 50%;
    width: 50%;
    height: 25%;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    display:block;
}

#header {
    background-color: red;
    text-align: center;
    font-size: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
}
#list {
    border-width: 4px;
    border-style: solid;
    border-style: red;
    padding: 20px;
    margin-left: 20%;
}

#navlinks {
    position: fixed;
}

#footer {
    background-color: red;
    text-align: center;
    font-size: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
}